<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <nav>
      <ul>
        <li><a routerLink="/mandelbrot" routerLinkActive="active" ariaCurrentWhenActive="page">Mandelbrot</a></li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <section>
            <button (click)="sidenav.toggle()" mat-mini-fab >
              <mat-icon>home</mat-icon>
            </button>
    </section>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


