<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Mandelbrot</mat-card-title>
    <mat-card-subtitle>
      <div>
        <p>MandelMax: {{mandelbrotService.mandelMax}}</p>
      </div>
      <div>
        <p>MandelMin: {{mandelbrotService.mandelMin}}</p>
      </div>
      <div>
        <p>Max iterations: {{mandelbrotService.maxIterations.value}}</p>
        <mat-label>Max iteraion</mat-label>
        <mat-select (selectionChange)="setMaxIterations($event.value)">
          <mat-option [value]="10">10 iterations</mat-option>
          <mat-option [value]="15">15 iterations</mat-option>
          <mat-option [value]="25">25 iterations</mat-option>
          <mat-option [value]="30">30 iterations</mat-option>
          <mat-option [value]="100">100 iterations</mat-option>
          <mat-option [value]="150">150 iterations</mat-option>
          <mat-option [value]="200">200 iterations</mat-option>
          <mat-option [value]="250">250 iterations</mat-option>
        </mat-select>
      </div>
      <div>
        <mat-label>Webworkers</mat-label>
        <mat-select (selectionChange)="useWebworkers($event.value)">
          <mat-option [value]="false">off</mat-option>
          <mat-option [value]="true">on</mat-option>
        </mat-select>
      </div>
      <div>
        <p>Calculation time: {{mandelbrotService.calculationTime | async | millisecondsTransform }} seconds</p>
      </div>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <canvas width="700" height="700" id="canvas"></canvas>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="zoomIn()" mat-button>Zoom in</button>
    <button (click)="zoomOut()" mat-button>Zoom out</button>
  </mat-card-actions>
</mat-card>

